.card {
  width: 300px;
  height: 260px;
  background: #18305a;
  color: #fff;
  padding: 40px;
  margin: 16px 0;
}

.container{
  width: 100%;
  max-width: 980px;
  margin: auto;
}

section {
  width:100%; 
  max-width: 980px;
  margin: auto;

}